.ba-breakfast {
  padding: 70px 0;
  background: url(../img/bg-breakfast.png) no-repeat top center;
  background-size: cover;
  text-align: center;
  &__header {
    color: #fff;
    margin-bottom: 56px;
  }
  &__title {
    letter-spacing: 4px;
    margin-bottom: 2px;
  }
  &__sub-title {
    color: $brown_light_color;
    letter-spacing: 1.2px;
    @media screen and (min-width: 1024px) {
      font-size: 18px;
      margin: 0;
    }
  }
  &__menu {
    color: #fff;
  }
  &__position {
  }
  &__post {
  }
}

.ba-position {
  &__title {
    font-size: 22px;
    margin: 0;
    letter-spacing: 2px;
    @media screen and (min-width: 1024px) {
      font-size: 30px;
    }
  }
  &__description {
    margin: 0 0 15px;
    letter-spacing: 1.6px;
    @media screen and (min-width: 1024px) {
      margin-bottom: 18px;
    }
  }
  &__price {
    font-family: Alegreya;
    color: #dfc691;
    font-size: 26px;
    margin: 0 0 41px;
    letter-spacing: 1.7px;
    @media screen and (min-width: 1024px) {
      font-size: 36px;
      line-height: 0.8;
    }
  }
}

.ba-manu-wraper {
  margin-bottom: 70px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.ba-post-wraper {
  position: relative;
  max-width: 440px;
  @media screen and (min-width: 1024px) {
    padding-left: 68px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 21.3333%;
    max-width: none;
    width: 508px;
  }
}

.ba-post {
  background: #f3f1e9;
  padding: 20px 20px 40px;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 0 40px;
  @media screen and (min-width: 1024px) {
    padding: 33px 33px 66px;
  }
  &:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px dashed #9e9c93;
    pointer-events: none;
    @media screen and (min-width: 1024px) {
      top: 10px;
      left: 10px;
      right: 10px;
      bottom: 10px;
    }
  }
  &:after {
    content: '';
    position: absolute;
    right: -250px;
    bottom: -100px;
    width: 411px;
    height: 220px;
    background: url(../img/bg-post.png) no-repeat top left;
    pointer-events: none;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 50px;
    @media screen and (min-width: 1024px) {
      margin-bottom: 117px;
    }
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 35px;
      left: 10px;
      right: 10px;
      height: 60px;
      background: url(../img/post-header.png) no-repeat top center;
      background-size: contain;
      @media screen and (min-width: 1024px) {
        top: 46px;
      }
    }
  }
  &__loc {
  }
  &__date {
  }
  &__title {
    line-height: 1.3;
    letter-spacing: 1.7px;
    margin-bottom: 34px;
  }
  &__exerpt {
    letter-spacing: 0.7px;
    margin-bottom: 20px;
    line-height: 2.1;
    @media screen and (min-width: 1024px) {
      margin: 0 0 46px;
    }
  }
  &__cta {
    border: 1px solid #9e9c93;
    color: #a47d5e;
    background: transparent;
    font-weight: 700;
    padding: 8px 35px;
    font-size: 14px;
    letter-spacing: 1.7px;
    @media screen and (min-width: 1024px) {
      font-size: 18px;
      padding: 9px 68px;
    }
    &:hover {
      background: #9e9c93;
      color: #fff;
    }
  }
  &__bg-item {
    position: absolute;
    background-color: #f3f1e9;
    left: 100px;
    top: 20px;
    right: -20px;
    bottom: 20px;
    border-radius: 0 0 0 40px;
    background-color: #d5d3cb;
    @media screen and (min-width: 1440px) {
      margin-left: 68px;
      top: 40px;
      right: -28px;
      bottom: 40px;
      left: 15px;
      max-width: initial;
    }

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border: 1px dashed #9e9c93;
      @media screen and (min-width: 1024px) {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
      }
    }
  }
  &__bg-item + &__bg-item {
    top: 10px;
    right: -10px;
    bottom: 10px;
    background-color: #e5e3d9;
    @media screen and (min-width: 1440px) {
      margin-left: 68px;
      top: 20px;
      right: -15px;
      bottom: 20px;
    }
  }
  &__bg-angle {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: -6px;
    left: -6px;
    background: url(../img/post-angle.png) no-repeat left bottom;
  }
}
