/* Typography */
body {
  font: 400 14px/1.7 $main_font;
}

h1 {
  font: 700 36px/1.2 'Playfair Display', serif;
  letter-spacing: 1px;
  color: #fff;
  @media screen and (min-width: 640px) and (min-height: 500px) {
    font-size: 82px;
  }
  @media screen and (min-width: 1024px) {
    font-size: 92px;
    letter-spacing: 6.9px;
  }
}

h1,
h2,
h3,
h4,
h4,
h6 {
  margin: 0 0 15px 0;
}

h2 {
  font: 700 32px/1.2 'Alegreya', serif;
  @media screen and (min-width: 1440px) {
    font-size: 60px;
  }
}

h3 {
  font: 700 28px/1.2 'Alegreya', serif;
  @media screen and (min-width: 1440px) {
    font-size: 48px;
  }
}

h4 {
  font: 700 24px/1.2 'Alegreya', serif;
  @media screen and (min-width: 1440px) {
    font-size: 44px;
  }
}

h5,
h6 {
  font-family: 'Alegreya', serif;
  font-weight: 700;
}

p {
  font: 400 14px/1.7 'ProximaNova', sans-serif;
}

a {
  font: 400 14px/1.7 'Alegreya', serif;
  color: inherit;
  text-decoration: none;
  &:hover {
    opacity: 0.6;
  }
}

a,
input[type='submit'],
input[type='button'],
button {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
}
input[type='submit'],
input[type='button'],
button,
.ba-button {
  display: inline-block;
  &:hover {
  }
}
input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
textarea,
select {
  transition: color 0.3s ease-in, border-color 0.3s ease-in,
    background-color 0.3s ease-in, opacity 0.3s ease-in;
  &:focus {
  }
}

textarea {
}

.ba-button {
  display: inline-block;
  border: 1px dashed #dfc691;
  padding: 10px 28px;
  font-size: 10px;
  letter-spacing: 4.2px;
  @media screen and (min-width: 640px) {
    font-size: 14px;
  }
  @media screen and (min-width: 1024px) {
    padding: 12px 50px;
  }
}
