.ba-recipes {
  padding: 30px 0 70px 0;
  background: url(../img/bg-recipes.png) no-repeat top center;
  background-size: cover;
  &__wraper {
    position: relative;
    @media screen and (min-width: 1024px) {
      margin-left: -25px;
      padding-right: 105px;
    }
  }
  &__slider {
    .slick-list {
      overflow: hidden;
      padding-top: 90px;
    }
    .slick-track {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__slide {
    position: relative;
  }
  &__slider-nav {
  }
  &__item {
  }
}

.ba-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }
  &__rate {
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 15px;
    transform: translateY(-20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 1024px) {
      top: 43%;
      left: 27px;
    }
    .ba-star {
      width: 21px;
      height: 20px;
    }

    .ba-star + .ba-star {
      margin-top: 10px;
    }
  }
  &__picture {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    @media screen and (min-width: 1024px) {
      width: 43%;
      height: 100%;
    }
  }
  &__recipe {
    padding: 10% 0 30% 0;
    margin-top: 43%;
    z-index: 3;
    transform: translateY(25%);
    transition: transform 0.3s;

    @media screen and (min-width: 500px) {
      transform: translateY(33%);
    }
    @media screen and (min-width: 1024px) {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      width: 50%;
      transform: translateY(0);
      transform: translateX(0);
      min-height: 500px;
    }
    &.active {
      transform: translateY(0%);
      @media screen and (min-width: 1024px) {
        transform: translateX(-78%);
      }
    }
  }
}

.ba-top-wrap {
  width: 37%;
}

.ba-recipe {
  background-color: #ffffff;
  &__wraper {
    padding: 0 15px 0 15px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 50%;
      top: 50%;
      background: url(../img/bg-recipe-text.png) no-repeat bottom right;
      background-size: contain;
      transition: transform 0.4s;
      @media screen and (min-width: 1024px) {
        bottom: -31%;
        right: -13%;
      }
    }
    @media screen and (min-width: 1024px) {
      padding: 71px 65px 70px 60px;
    }
  }
  &__cook-time {
  }
  &__title {
    font-weight: 700;
    color: $main_font_color;
    margin-bottom: 10px;
    letter-spacing: 1.8px;
  }
  &__sub-title {
    margin: 0 0 40px;
    letter-spacing: 2.8px;
    @media screen and (min-width: 1024px) {
      margin: 0 0 51px;
    }
  }
  &__content {
    @media screen and (min-width: 1024px) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      width: 250%;
    }
    .ba-content {
      @media screen and (min-width: 1024px) {
        width: 100%;
        padding-right: 20px;
      }
      &--hidden {
        opacity: 0;
        transition: opacity 0.3s;
        @media screen and (min-width: 1024px) {
          pointer-events: none;
        }
      }
      &--hidden.active {
        opacity: 1;
        @media screen and (min-width: 1024px) {
          pointer-events: initial;
        }
      }
    }
    .ba-content + .ba-content {
      @media screen and (min-width: 1024px) {
        padding-right: 120px;
      }
    }
  }
}

.ba-roll-btn {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  z-index: 3;
  @media screen and (min-width: 1024px) {
    left: -25px;
    top: 50%;
    transform: translateY(-50%);
  }
  &__icon {
    width: 9px;
    height: 16px;
    transform: rotate(90deg);
    @media screen and (min-width: 1024px) {
      transform: rotate(0);
    }
  }
  &:focus,
  &:active {
    border-radius: 50%;
    border: 2px solid #d8bba3;
  }
}

.ba-nav-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
  @media screen and (min-width: 1024px) {
    width: 41%;
    right: 150px;
    padding: 0 0 20px;
  }
  &__slide {
    outline: none;
    cursor: pointer;
    width: 54px !important;
    @media screen and (min-width: 1024px) {
      width: 94px !important;
    }
    &:focus,
    &:active {
      .ba-nav-slider__pic {
        border-radius: 50%;
        border: 2px solid #d8bba3;
      }
    }
  }
  &__pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid transparent;
    @media screen and (min-width: 1024px) {
      width: 92px;
      height: 92px;
    }
  }
  .slick-list {
    overflow: hidden;
    max-width: 70%;
    @media screen and (min-width: 1024px) {
      max-width: 80%;
    }
  }
  .slick-track {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .slick-arrow {
    font-size: 0;
    border: none;
    background-color: transparent;
    height: 32px;
    width: 32px;
    outline: none;
    border-radius: 50%;
    &:focus,
    &:active {
      border-radius: 50%;
      border: 2px solid #d8bba3;
    }
  }
  .slick-prev {
    background: url(../img/arrow-left-active.svg) no-repeat center;
  }
  .slick-next {
    background: url(../img/arrow-right-active.svg) no-repeat center;
  }
  .slick-disabled {
    opacity: 0.4;
  }
}

.ba-nav-slider__slide.slick-current {
  .ba-nav-slider__pic {
    border: 2px solid #d8bba3;
  }
}

.ba-cook-time {
  position: absolute;
  top: 50px;
  right: 0;
  width: 100px;
  height: 100px;
  z-index: 3;
  box-shadow: -15px 20px 53px -15px rgba(0, 0, 0, 0.75);
  @media screen and (min-width: 1024px) {
    width: 150px;
    height: 150px;
  }
  @media screen and (min-width: 1440px) {
    width: 200px;
    height: 200px;
  }
  &__slide {
    background-color: #ffffff;
    background: url(../img/bg-time.png) no-repeat center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    @media screen and (min-width: 1024px) {
      width: 150px;
      height: 150px;
      right: -70px;
    }
    @media screen and (min-width: 1440px) {
      width: 200px;
      height: 200px;
    }
    p {
      margin: 0;
      font-family: Alegreya;
      color: $brown_color;
      text-align: center;
    }
  }
  &__title {
    text-transform: uppercase;

    font-weight: 700;
    letter-spacing: 1.8px;
    @media screen and (min-width: 1024px) {
      font-size: 18px;
    }
  }
  &__time {
    color: #dfc691;
    font-size: 42px;
    line-height: 0.9;
    letter-spacing: 9.2px;
    font-weight: 700;
    @media screen and (min-width: 1024px) {
      font-size: 72px;
    }
    @media screen and (min-width: 1440px) {
      font-size: 92px;
    }
  }
  &__measurement {
    @media screen and (min-width: 1024px) {
      font-size: 18px;
    }
  }
  .slick-list {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
  .slick-track {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
