@import 'fonts';

$main_font: 'ProximaNova', sans-serif;
$main_font_color: '#56534c';

@import 'normalize';
@import 'layout';
@import 'elements';

@import 'header';
@import 'hero';

/* Layout */
.ba-container {
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1260px;
}
